<h2><%= book.title %> </h2>
<img src="<%= book.CoverImagePath %>" alt="img" width="100" height="150">
<h4>Author : <%= author.name%> </h4>
<h4>Publish Date : <%= book.publishDate.toDateString()%></h4>
<h4>Page Count : <%= book.pageCount%> </h4>
<h4>Description : <%= book.description%> </h4>
<a href="/books/<%= book.id %>/edit">Edit</a>
<%- include("../partials/delete_form" ,{ url : `/books/${book.id}`})%>
<a href="/authors/<%=author.id%>">View Author</a>
